@import	url(https://fonts.googleapis.com/css?family=Dosis|Hepta+Slab|Julius+Sans+One|Montserrat|Roboto|Satisfy&display=swap);

@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
  

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
}

h1 {
	font-family: 'Satisfy', cursive; 
}

h2 {
	font-family: 'Hepta Slab', serif;
}

h4 {
	font-family: 'Dosis', sans-serif;
}

a { 
	text-decoration: none;
 }

/* 
font-family: 'Satisfy', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Hepta Slab', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/